Translator flow.json
[{"id":"1b7d5298.89491d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"26fc27ca.518e78","type":"debug","z":"1b7d5298.89491d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":140,"wires":[]},{"id":"ef708c1e.08ec3","type":"microphone","z":"1b7d5298.89491d","name":"","x":130,"y":140,"wires":[["dd58ca89.cd5a68"]]},{"id":"dd58ca89.cd5a68","type":"watson-speech-to-text","z":"1b7d5298.89491d","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"rkJDD3B4ie833a_UYS3XK3nSvBUi3yqfW39YBIk4apT_","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/0390ea68-368d-4593-9dc2-40ebbaa31a53","x":340,"y":140,"wires":[["26fc27ca.518e78","288284d9.4a722c"]]},{"id":"7e1a61d3.f2e13","type":"inject","z":"1b7d5298.89491d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"thanks","payloadType":"str","x":90,"y":300,"wires":[["26c6a068.fafea"]]},{"id":"26c6a068.fafea","type":"watson-text-to-speech","z":"1b7d5298.89491d","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"ofsvMe1j8bQsvfoFr7-ONXzV1UMRC2pY-A7huWReTWKM","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/2ed53c5b-7490-4c14-a010-694bd52efffd","x":340,"y":300,"wires":[["af845c5b.1c48e","114e09cb.33cf46"]]},{"id":"af845c5b.1c48e","type":"change","z":"1b7d5298.89491d","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["707e633.b854f9c"]]},{"id":"707e633.b854f9c","type":"play audio","z":"1b7d5298.89491d","name":"","voice":"","x":750,"y":300,"wires":[]},{"id":"114e09cb.33cf46","type":"debug","z":"1b7d5298.89491d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":420,"wires":[]},{"id":"288284d9.4a722c","type":"change","z":"1b7d5298.89491d","name":"","rules":[{"t":"set","p":"transcription","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["72eba5a.257ce5c"]]},{"id":"72eba5a.257ce5c","type":"watson-translator","z":"1b7d5298.89491d","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"nCXEy9ushYRVEh3BKV_2oRJu4bHlR1CqkTkwyxt0Wz2L","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/4346c6ec-e25c-42fc-9405-fb1f9a46f806","x":440,"y":220,"wires":[["f2f2cfda.376f6","26c6a068.fafea"]]},{"id":"f2f2cfda.376f6","type":"debug","z":"1b7d5298.89491d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":220,"wires":[]}]